In [2]:
print('나의 키는 %.1fcm입니다' %165)
print("5*4=%d" %(5*4))
print('나는 %s의 학생입니다' %('한성대학교'))
print('%s의 수도는 %s입니다' %('대한민국','서울'))

나의 키는 165.0cm입니다
5*4=20
나는 한성대학교의 학생입니다
대한민국의 수도는 서울입니다

In [3]:
x = 10
y = 20

(x,y)=(y,x)

print(f'x={x}, y={y}')

x=20, y=10

In [5]:
(digit, alphabet, hangle) = (123,'abc','가나다')
print(digit, alphabet, hangle)

123 abc 가나다

In [13]:
def calc(a,b):
    add=a+b
    sub=a-b
    mul=a*b
    return add, sub, mul

calc(100, 50)

(150, 50, 5000)

In [14]:
x,y,z=calc(100, 50)
print(f'연산결과: 덧셈={x}, 뺼셈={y}, 곱셈={z}')

연산결과: 덧셈=150, 뺼셈=50, 곱셈=5000

In [15]:
empty = {}
fruits={"a":"apple", "b":"banana"}
print(fruits["a"])
print(fruits["b"])

apple
banana

In [16]:
fruits = {'a':'apple','b':'banana'}
fruits['c']='cherry'
fruits['o']='orange'
print(fruits)

{'a': 'apple', 'b': 'banana', 'c': 'cherry', 'o': 'orange'}

In [18]:
fruits['b']
print(f"좋아하는 과일:{(fruits)['a']}")

좋아하는 과일:apple

In [19]:
st_class = {"1반":17, "2반": 20, "3반": 19}
st_class.keys()
st_class.values()
st_class.items()

dict_items([('1반', 17), ('2반', 20), ('3반', 19)])

In [20]:
st_class = {"1반":17, "2반": 20, "3반": 19}
list(st_class.keys())
list(st_class.values())
list(st_class.items())

[('1반', 17), ('2반', 20), ('3반', 19)]

In [21]:
fruits = {"a":"apple", "b":"banana"}
for key in fruits:
    print(key)
    print(fruits[key])

a
apple
b
banana

In [24]:
fruits={"a":"apple", "b":"banana"}
if "o" not in fruits:
    fruits['o']='orange'
print(fruits)

if "o" in fruits:
    fruits['o']='orange'
print(fruits)

{'a': 'apple', 'b': 'banana', 'o': 'orange'}
{'a': 'apple', 'b': 'banana', 'o': 'orange'}